
.label {
    color: #FDFDFF;
    font-weight: 700;
    font-size: 18px; 
    display: flex;
    align-items: center;
    gap: 18px;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    
    .label {
        gap: 5px;
    }
}