.footer {
    background: #F4F7FB;
    padding: 30px 0;
}

.content {
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 2px solid rgba(7, 133, 134, 0.6);
    display: flex;
    gap: 100px;
}

.underNode {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.underNode p {
    color: #003B56;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.underNode .row {
    width: 1px;
    height: 20px;
    background-color: #003B56;
}

.underNode a {
    color: #078586;
    font-size: 14px;
}

.node {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: 190px;
    height: 100px;
}

.nodeTitle {
    color: #078586;
    font-weight: 500;
    font-size: 20px;
}


.dynamicLink {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(0, 59, 86, 0.8);
    font-size: 14px;
    font-weight: 400;
}

.link {
    color: rgba(0, 59, 86, 0.8);
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .content {
        justify-content: center;
    }
    .node {
        align-items: center;
    }

    .underNode {
        flex-direction: column;
    }
}