.questionsSection {
    margin-top: 30px;
    padding: 42px 0;
    width: 100;
    min-height: calc(100vh - 450px);
}

.title {
    color: #078586;
    font-weight: 700;
    font-size: 20px; 
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 4px;
    background-color: rgba(0, 59, 86, 0.6);
    display: inline-block;
    border-radius: 5px;
}

.title::before {
    left: 30px;
}

.title::after {
    right: 30px;
}


.subTitle {
    color: rgba(0, 12, 51, 0.6);
    font-weight: 400;
    font-size: 18px; 
    margin-bottom: 20px;
    text-align: center;
    margin-top: 25px;
    white-space: nowrap;
}

.wrapperQuestions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questionList {
    overflow: hidden;
}

.question {
    background: #F4F4F3;
    border: 1px solid rgba(0, 59, 86, 0.6);
    border-radius: 15px;
    padding: 18px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.activeQuestion {
    background: #003B56;
    border: 1px solid #F4F7FB;
    border-radius: 15px;
}

.question p {
    color: #003B56;
    font-weight: 500;
    font-size: 20px; 
}

.activeQuestion p {
    color: #F4F7FB;
}

.question .icon {
    border: 1px solid #003B56;
    border-radius: 999px;
    background: #FDFDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    cursor: pointer;
} 

.answer {
    background: #F4F4F3;
    border-radius: 15px 15px 10px 10px;
    padding: 30px;
    color: #003B56;
    font-size: 20px; 
}

.inActive {
    display: none;
}

.active {
    display: block;
    position: relative;
    z-index: -1;
    animation: formTop .3s forwards;
}

@media screen and (max-width: 768px) {
    .question,
    .answer {
        padding: 15px;
    }
}

@keyframes formTop {
    from {
        margin-top: -500px;
    }
    to {
        margin-top: 0;
    }
}


@keyframes toTop {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: -500;
    }
}