.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 363px;
}

.input {
    padding-bottom: 22px;
    border: none;
    text-decoration: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgba(0, 59, 86, 0.4);
    color: #16426c;
}

.textarea {
    padding-bottom: 22px;
    border: none;
    text-decoration: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgba(0, 59, 86, 0.4);
    resize: none;
    height: 160px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.sbmtData {
    background: #078586;
    max-width: 140px;
    border: 1px solid #078586;
    border-radius: 5px;
    padding: 8px 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.or {
    color: rgba(2, 28, 65, 0.6);
    font-weight: 500;
    font-size: 16px;
}

.link {
    background: transparent;
    max-width: 140px;
    border: 1px solid #078586;
    border-radius: 5px;
    padding: 7px 24px;
    color: #078586;
}

@media screen and (max-width: 991px) {
    .form {
        max-width: initial;
    }
}