.carMovingsSection {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.row {
    width: 100px;
    height: 5px;
    background: #003B56;
    border-radius: 10px;
    margin-bottom: 20px;
}

.subTitle {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #003B56;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 991px) {
    .services {
        flex-wrap: wrap;
    }
}