.discoverStepFlex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box {
    background: #FDFDFF;
    border: 2px solid #078586;
    box-shadow: 4px 4px 4px rgba(2, 28, 65, 0.3);
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    max-width: 320px;
    height: 350px;
}

.forScrool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow-y: auto;

}

.forScrool::-webkit-scrollbar {
    width: 5px;
}
  
.forScrool::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
  
.forScrool::-webkit-scrollbar-thumb {
    background-color: #078586;
    border-radius: 10px;
}

.stepNumber {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #078586;
    font-weight: 700;
    font-size: 48px;
}

.image {
    width: 196px;
    height: 196px;
}

.stepTitle {
    color: #078586;
    font-weight: 700;
    font-size: 24px;
}

.description {
    text-align: center;
    color: #041A44;
    line-height: 24px;
}

.arrow {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}